body{
  padding-left: 200px;
}

.mlink{
 padding-right: 250px;
 margin: 0 20px;
 display: flex;
 align-items: center;
 height: 100% 100px;
 position: relative;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
.ml{
  text-decoration: none;
  color: #a33502;
  font-size: 20px;
}
.mlc{
  color: #328da8;
  text-decoration: none;
  font-size: 25px;
  margin-top:-10px;
}
.name{
 font-size: 30px;
}

h1 {
  color: #a33502;
  font-family: "Arial", sans-serif;
};
.asite {
  color: #c4c4c4;
}
.foto {
	display: flex;
	flex-wrap: wrap;
}
.foto a {
	margin: 0 15px 15px 0;
}
.foto img {
	display: block;
}
.contact_wrapper{
	width: 753px;
	margin:0 auto;
	color: #636363;
}
.red{
	color: red;
}
input{
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}
input:first-of-type{
	margin-right: 23px;
}
.contact_form h1,p{
	text-align: center;
}
.form_inputs{
	display: flex;	
}
textarea{
	width: 100%;
	height: 160px;
}
input, textarea{
	border:1px solid #9999;
	margin-top: 5px;
}
.button_block{
	display: flex;
	justify-content: flex-end;

}
input[type=submit]{
	width: 165px;
	height:40px;
	background: #fcac45;
	color: white;
	margin-right: 0;
	margin-top: 20px;
}
form p{
	text-align: left;
    
}
